<%= form_for(@cadastro) do |f| %>
  <% if @cadastro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cadastro.errors.count, "error") %> prohibited this cadastro from being saved:</h2>

      <ul>
      <% @cadastro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :Nome %>
  </div>
  <div class="field">
    <%= f.label :Senha %><br>
    <%= f.text_field :Senha %>
  </div>
  <div class="field">
    <%= f.label :Funcao %><br>
    <%= f.text_field :Funcao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
