<p id="notice"><%= notice %></p>

<h1>Listing Cadastros</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Senha</th>
      <th>Funcao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cadastros.each do |cadastro| %>
      <tr>
        <td><%= cadastro.Nome %></td>
        <td><%= cadastro.Senha %></td>
        <td><%= cadastro.Funcao %></td>
        <td><%= link_to 'Show', cadastro %></td>
        <td><%= link_to 'Edit', edit_cadastro_path(cadastro) %></td>
        <td><%= link_to 'Destroy', cadastro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cadastro', new_cadastro_path %>
