<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cadastro.Nome %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @cadastro.Senha %>
</p>

<p>
  <strong>Funcao:</strong>
  <%= @cadastro.Funcao %>
</p>

<%= link_to 'Edit', edit_cadastro_path(@cadastro) %> |
<%= link_to 'Back', cadastros_path %>
