<html>
	<head>
		<title> USANDO CABEÇALHOS </title>
	</head>
	<body>
		<br><br>
		<font face="arial, verdana" color="#ff0000"><h2 align="center"> CAPÍTULO I - TÍTULO PRINCIPAL DO DOCUMENTO </h2></font>
		<br><br>
		<blockquote><font face="arial" color="#0000ff"><h3> 1.1 PRIMEIRO SUBTÍTULO </h3></font></blockquote>
		<br><br>
		<font face="arial" size="3" color="#000000">
			<p align="justify"> Este, é o 1º parágrafo deste subtítulo. </p>
			<p align="justify"> Este, é o 2º parágrafo deste subtítulo. </p>
			<p align="justify"> Continuação deste texto até a sua conclusão. </p>
		</font>
		<br><br>
		<blockquote><font face="arial" color="#0000ff"><h3> 1.2 SEGUNDO SUBTÍTULO </h3></font></blockquote>
		<br><br>
		<font face="arial" size="3" color="#000000">
			<p align="justify"> Este, é o 1º parágrafo deste subtítulo. </p>
			<p align="justify"> Este, é o 2º parágrafo deste subtítulo. </p>
			<p align="justify"> Continuação deste texto até a sua conclusão. </p>
		</font>
		<br><br>
		<blockquote><font face="arial" color="#0000ff"><h3> 1.3 TERCEIRO SUBTÍTULO </h3></font></blockquote>
		<br><br>
		<font face="arial" size="3" color="#000000">
			<p align="justify"> Este, é o 1º parágrafo deste subtítulo. </p>
			<p align="justify"> Este, é o 2º parágrafo deste subtítulo. </p>
			<p align="justify"> Continuação deste texto até a sua conclusão. </p>
		</font>
	</body>
</html>

