<head>
	<body>
		<br>

		<img src="http://imageshack.com/a/img903/908/piJ1VD.png" align="left" height="100" widith="100" >
		
	
		
		<br><br><br><br><br><br><br>
		<h5 align="center"><img src="http://imageshack.com/a/img911/5268/bx0RjI.png" align="center" height="40" widith="40" ></h5>
		<h5 align="center"><img src="http://www.lucianosimas.com.br/blog/wp-content/themes/wordpress-brown/images/sombra.gif" align = "center" height="40" widith="300"></h5>
	

	</body>
</head>